<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="{{ url_for('static', filename='js/add_record.js') }}" defer></script>
    <title>Додати подію</title>
</head>
<body>
    <div class="container">
        <h1>Додати нову подію</h1>
        <form id="add_event_form">
            <label for="event_name">Назва події:</label>
            <input type="text" id="event_name" name="name" required>

            <label for="repeat">Повторення:</label>
            <select id="repeat" name="repeat" onchange="updateFormFields()">
                <option value="daily">Щодня</option>
                <option value="weekly">Щотижня</option>
                <option value="one-time">Один раз</option>
            </select>

            <!-- Поле для часу -->
            <div id="time_field">
                <label for="event_time">Час (24 години):</label>
                <input type="time" id="event_time" name="time" required>
            </div>

            <!-- Поле для вибору дня тижня -->
            <div id="weekday_field" class="hidden">
                <label for="weekday">День тижня:</label>
                <select id="weekday" name="weekday">
                    <option value="monday">Понеділок</option>
                    <option value="tuesday">Вівторок</option>
                    <option value="wednesday">Середа</option>
                    <option value="thursday">Четвер</option>
                    <option value="friday">П'ятниця</option>
                    <option value="saturday">Субота</option>
                    <option value="sunday">Неділя</option>
                </select>
            </div>

            <!-- Поле для вибору дати -->
            <div id="date_field" class="hidden">
                <label for="event_date">Дата:</label>
                <input type="date" id="event_date" name="date">
            </div>

            <button type="submit">Зберегти</button>
        </form>
    </div>

</body>
</html>
