<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="{{ url_for('static', filename='js/add_record.js') }}"></script>
    <title>Додати подію</title>
</head>
<body>
    <div class="container_record">
        <h1>Додати нову подію</h1>
        <form id="add_event_form" action="/save_record" method="POST">
            <label for="event_name">Назва події</label>
            <input type="text" id="event_name" name="name" required>

            <label for="repeat">Повторення</label>
            <select id="repeat" name="repeat" onchange="updateFormFields()">
                <option value="daily">Щодня</option>
                <option value="weekly">Щотижня</option>
                <option value="one-time">Один раз</option>
            </select>

            <!-- Поле для часу -->
            <div id="time_field">
                <label for="event_time">Введіть час</label>
                <input type="time" id="event_time" name="time" required>
            </div>

            <!-- Поле для вибору дня тижня -->
            <div id="weekday_field" class="hidden">
                <label for="weekday">День тижня</label>
                <select id="weekday" name="weekday">
                    <option value="Monday">Понеділок</option>
                    <option value="Tuesday">Вівторок</option>
                    <option value="Wednesday">Середа</option>
                    <option value="Thursday">Четвер</option>
                    <option value="Friday">П'ятниця</option>
                    <option value="saturday">Субота</option>
                    <option value="sunday">Неділя</option>
                </select>
            </div>

            <!-- Поле для вибору дати -->
            <div id="date_field" class="hidden">
                <label for="event_date">Дата:</label>
                <input type="date" id="event_date" name="date">
            </div>

            <h2>Оберіть файл mp3</h2>
            <div class="audio-uploads">
                <form id="upload_melody" action="/upload_melody" method="POST" enctype="multipart/form-data">
                  <div class="drop-item">
                    <button type="button" onclick="document.getElementById('melodyFile').click();">Мелодія</button>
                    <input type="file" id="melodyFile" name="melody" accept="audio/*" style="display: none;" onchange="document.getElementById('upload_melody').submit();">
                  </div>
                </form>
            </div>

            <button type="submit">Зберегти</button>
        </form>
    </div>

</body>
</html>
