<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{url_for('static' ,filename = '../static/styles/style.css')}}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Stepper Motor Control</title>
</head>
<body>
    <div class="container">
        <h1>Stepper Motor Control</h1>
        <label for="steps_per_revolution">Кількість кроків на оберт:</label>
        <input type="number" id="steps_per_revolution" name="steps_per_revolution">
        <button onclick="setSteps()">Ввести</button>

        <h2>Калібрування стрілок</h2>
        <label for="calibration_steps">Кількість кроків для калібрування:</label>
        <input type="number" id="calibration_steps" name="calibration_steps">
        <button onclick="calibrate(0)">Хвилина назад</button>
        <button onclick="calibrate(1)">Хвилина вперед</button>
    </div>
</body>
</html>
